.home .hero img {
    margin: 0.5rem auto !important;
    max-height:240px!important;
}

blockquote {
  padding         : auto;
  line-height     : 22px;
  border-radius   : 5px;
  display         : block;
  border-color    : #78c578;
  background-color: #e6f9e6;
  padding-left    : 1em;
  margin-bottom   : 0.8em;
}
    
